{% load core %}
{% if status == 0 %}✅{% else %}❌{% endif %} {% if repository.url %}<a href='{{ compare_url }}'>{{ repository.owner_name }}/{{ repository.name }}</a>{% else %}<strong>{{ repository.owner_name }}/{{ repository.name }}</strong>{% endif %}

Build #{{ number }} {% if status == 0 %}completed successfully{% else %}failed{% endif %}
Status: {{ status_message }}

Duration: {{ duration|duration }}
Started : {{ started_at|date:'Y/m/d H:i:s' }}
Finished: {{ finished_at|date:'Y/m/d H:i:s' }}

Author: {{ author_name }}
Message: "{{ message }}"
